/*
@font-face {
	font-family: 'Avenir';
	src: url(../fonts/AvenirNextCyr-Bold.otf);
	font-weight: 700;
}

@font-face {
	font-family: 'Avenir';
	src: url(../fonts/AvenirNextCyr-Demi.otf);
	font-weight: 600;
}

@font-face {
	font-family: 'Avenir';
	src: url(../fonts/AvenirNextCyr-Medium.otf);
	font-weight: 500;
}

@font-face {
	font-family: 'Avenir';
	src: url(../fonts/AvenirNextCyr-Regular.otf);
	font-weight: 400;
}
*/

body {
	font-family: georgia;
    display: flex;
	flex-wrap: wrap;
    margin: 48px 32px;
}

h1 {
	font-size: 2.2em;
	flex-basis: 100%;
	margin: 0 0 1.1em;
}

h4 {
	font-size: 1.1em;
	font-weight: normal;
	margin: .5em 0 1em;
}

.form {
	width: 350px;
	margin-right: 36px;
}

.form > div {
	margin: 0 .2em .3em;
}

.form label {
	padding-left: .2em;
	vertical-align: middle;
}

.result {
  background: url(../src/test-img.png) no-repeat center center;
  background-color: #eee;

  width: 500px;
  height: 500px;
}